<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Launch Page</title>

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- BOOTSTRAP THEME -->
  <link rel="stylesheet" href="https://bootswatch.com/4/cosmos/bootstrap.min.css">

  <!-- CUSTOM STYLES -->
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand navbar-dark bg-secondary">
    <a class="navbar-brand" href="#"></a>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/music/1/musician/{{album.artist.id}}">Back to Artist Detail</a>
      <a class="nav-item nav-link" href="#"></a>
      <a class="nav-item nav-link" href="#"></a>
    </div>
  </nav>

  <!-- HERO -->
  <div class="jumbotron text-center">
    <h1>Welcome to Andre's Records </h1>
    <p class="lead">A Fantastic Product!</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>

<center>
    {% if album_details %}

    <h1> Album Details </h1> 

        <li>Album Name: <a href="{% url 'sdetails' id %}">{{ album_details.name }} </a></li>
        <li>Publish Date: {{ album_details.publish_date }} </li>
        <li>Artist: {{ album_details.artist }} </li>
        <li>Genre: {{ album_details.genre }} </li>
    {% endif %}
</center>
 
</body>
</html>