 <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- BOOTSTRAP THEME -->
  <link rel="stylesheet" href="https://bootswatch.com/4/cosmos/bootstrap.min.css">

  <!-- CUSTOM STYLES -->
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand navbar-dark bg-secondary">
    <a class="navbar-brand" href="#"></a>
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/music/3/album/{{album.artist.id}}">Back to Artist Details</a>
      <a class="nav-item nav-link" href="#"></a>
      <a class="nav-item nav-link" href="#"></a>
    </div>
  </nav>

  <!-- HERO -->
  <div class="jumbotron text-center">
    <h1>Welcome to Andre's Records </h1>
    <p class="lead">A Fantastic Product!</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
<center>

    <ul> 
        <li> <strong>Song Name: </strong>{{ song_details }}</li>

        <li> <strong> Number of Stars:</strong> {{ song_details.num_stars }}</li>

    </ul>
</center>

</body>
</html>